#user  nobody;
worker_processes  1;

#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

#pid        logs/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    #log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    #                  '$status $body_bytes_sent "$http_referer" '
    #                  '"$http_user_agent" "$http_x_forwarded_for"';

    #access_log  logs/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;

    server {  
        server_name yourserver.yourdomain;
        server_tokens off;
    
        listen 80 default accept_filter=httpready;
    
        # Uncomment if you want to use SSL
        # listen 443 ssl;
    
        # Configure your SSL certificate locations here
        # ssl_certificate        /usr/local/etc/nginx/ssl/gitlab/ssl-bundle.crt;
        # ssl_certificate_key  /usr/local/etc/nginx/ssl/gitlab/gitlab.key;
    
        # Uncomment to force SSL connections
        # if ($ssl_protocol = "") {
        #    rewrite ^   https://$server_name$request_uri? permanent;
        # }
    
        location / {
            proxy_set_header   X-Real-IP $remote_addr;
            proxy_set_header   Host      $http_host;
            # If running inside a jail, change this to the IP address of the jail.
            proxy_pass         http://127.0.0.1:8080;
        }
    }

    # another virtual host using mix of IP-, name-, and port-based configuration
    #
    #server {
    #    listen       8000;
    #    listen       somename:8080;
    #    server_name  somename  alias  another.alias;

    #    location / {
    #        root   html;
    #        index  index.html index.htm;
    #    }
    #}


    # HTTPS server
    #
    #server {
    #    listen       443 ssl;
    #    server_name  localhost;

    #    ssl_certificate      cert.pem;
    #    ssl_certificate_key  cert.key;

    #    ssl_session_cache    shared:SSL:1m;
    #    ssl_session_timeout  5m;

    #    ssl_ciphers  HIGH:!aNULL:!MD5;
    #    ssl_prefer_server_ciphers  on;

    #    location / {
    #        root   html;
    #        index  index.html index.htm;
    #    }
    #}

}
